# Environnements virtuels
venv/
nba-vision-back/venv/

# Caches Python
__pycache__/
*.py[cod]

# Fichiers temporaires ou de build
*.zip
*.tar.gz
*.egg-info/
*.log

# Chalice files
nba-vision-back/.chalice/deployed/
nba-vision-back/build/
nba-vision-back/out/
nba-vision-back/__pycache__/

# Dossiers de dépendances ou fichiers inutiles
node_modules/
.DS_Store
.env
.env.local
